@import '../../node_modules/bootstrap/scss/bootstrap'; 

@import 'partials/reset';

body {
    background-color: #181818;
}

.lista-posts {
    .card-footer {
        .badge {
            &:hover {
                background-color: darken($secondary, 15%);
            }
            a {
                color: white;
                line-height: 2.1;
                text-decoration: none;
                &:hover {
                    color: inherit;
                }
            }
        }
    }
}
